* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header {
    background-color: #3B6E98;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
    font-family:"Poppins", sans-serif; ;
    font-weight: 700;
    font-size: 2rem;
    color:white
}
header h1 {
    font-family: 'Montserrat', sans-serif;
    color: white;
} 
nav {
    background-color: rgb(160, 179, 211);
	margin: 0 auto;
	max-width: 800px;
}
nav ul {
	list-style-type: none;
}
nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}
main {
    margin-top: 60px;
}
#events, #membership, #resources {
    text-align: center;
    margin-top: 60px;
    
}
#events h2 {
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

.event {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}
footer {
    background-color: #3B6E98;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 60px;
	border: 1px solid rgba(0, 0, 0, 0.1);
    font-family:"Open Sans", sans-serif; ;
    font-weight: 700;
    font-size: 2rem;
    color:white
}
.evento {
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}