* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header {
    background-color: #3B6E98;
    display: flex;
    flex-direction: column;  
    align-items: center;     
    justify-content: center; 
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: white;
    height: 300px;
}

header h1 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-bottom: 20px; 
}

button {
    padding: 10px 20px;
    background-color: #ffffff;
    color: #3B6E98;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #080809;
    color: #ffffff;
}

nav {
    background-color: #e0f2ff;
	margin: 0 auto;
	max-width: 800px;
}
nav ul {
	list-style-type: none;
}
nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

nav a:hover {
    background-color: #080809;
    color: #ffffff;
}
#menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
    background-color: #eee;
    color: #000;
}

.navigation {
    list-style: none;
    margin: 0 auto;
    max-width: 760px;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover,
.navigation a:active {
    color: white;
    background-color: black;
}

.show li {
    display: block;
}

main {
    margin-top: 60px;
}
.cards-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px; 
}

.card {
    flex: 1; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.card h2 {
    text-align: center;
    padding-bottom: 12px;
}

#weather {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.weather-info {
    display: flex;
    align-items: center;
}

.text-info {
    text-align: center;
    margin-right: 20px;
}

#weather-icon {
    width: 50px; 
    height: 50px; 
}

#spotlights {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 20px; 
}

.spotlight {
    background-color: #fffafa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.spotlight h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.spotlight p {
    margin-bottom: 15px;
}

.spotlight img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.spotlight a {
    display: inline-block;
    background-color: #3B6E98;
    color: #fffafa;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.spotlight a:hover {
    background-color: #080809;
}

footer {
    background-color: #3B6E98;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 25px;
    flex-direction: column; 
    color: #fffafa;
    margin-top: 30px;
}

footer p {
    margin-top: 5px;
    color: #fffafa; 
}

/* DISCOVER PAGE */


#lastVisit {
    font-size: 16px;
    color: #333;
    font-weight: bold;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
}

/* Sidebar layout with CSS Grid */
.discover {
    display: grid;
    grid-template-columns: 300px 1fr; /* Adjust this as needed */
    gap: 20px;
    padding: 20px;
}

.sidebar {
    grid-column: 1 / 2;
    padding: 20px;
    background-color: #f9f9f9;
    border-right: 2px solid #ececec;
}

.sidebar-item {
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 15px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.sidebar-item h2 {
    margin-top: 0;
    color: #333;
    font-size: 20px;
}

.sidebar-item p, .sidebar-item ul {
    margin-left: 20px;
}

.sidebar-item ul {
    list-style-type: square;
}

iframe {
    margin-top: 10px;
    border-radius: 8px; /* Estilo para suavizar as bordas do iframe do calendário */
}


.content-area {
    grid-column: 2 / 3;
}

.content-area h2, p {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.content-area p {
    margin-bottom: 10px;
}

.photo-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* For larger screens */
    gap: 20px;
    margin-right: 10px;
}

.photo-gallery figure {
    margin: 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.photo-gallery img {
    width: 100%;
    height: auto;
    display: block;
}

.photo-gallery figcaption {
    text-align: center;
    padding: 10px;
    font-style: italic;
    background-color:
     #f0f0f0;
}

