/* Larger Views */
@media (min-width: 640px) {
	nav ul {
		display: flex;
	}
	nav ul li {
		flex: 1 1 100%;
	}
}

@media (min-width: 40em){
    .navigation {
        display: flex;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
    .navigation a {
        text-align: center;
    }
    #menu {
        display: none;
    }
}

/* For smaller screens, ensure everything stays within the header */
header {
    padding: 10px; /* Reduce padding to conserve space on smaller screens */
    height: auto; /* Allow header height to adjust based on content */
}

header h1 {
    margin-bottom: 10px; /* Reduce margin to conserve space */
}

button {
    padding: 8px 16px; /* Reduce padding for the button */
    font-size: 0.9rem; /* Decrease font size for better fit */
}

/* Adjust card layout for smaller screens */
@media (max-width: 800px) {
    .cards-container {
        flex-direction: column; /* Stack cards vertically */
        align-items: center; /* Center cards horizontally */
    }
}

/* DISCOVER PAGE */
/* Responsive layout for mobile */
@media (max-width: 768px) {
    .discover {
        grid-template-columns: 1fr;
    }

    .sidebar,
    .content-area {
        grid-column: 1 / 2;
    }
}

/* Responsive layout adjustments */
@media (max-width: 768px) {
    .photo-gallery {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 768px) {
    .photo-gallery figure:hover img {
        transform: scale(1.1); /* Example: Increase the size of the image */
        transition: transform 0.2s ease; /* Add a smooth transition effect */
    }
}

