/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Body */
body {
	font-family: "Sansita", sans-serif;
}

/* Header */
header {
	background-color: #3B6E98;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: white;
    position: relative;
}

/* Image */
img {
    border-radius: 15px;
    margin-right: 20px;
}

/* Main & Header */
header,
main {
	margin: 0 auto;
}

/* Dark Mode */
#darkBtn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    width: 24px;
}

main.dark {
    color: white;
    background-color: #000;
}

main.dark h2,
main.dark li,
main.dark p {
    color: black;
}

/* Navigation */
#menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
    background-color: #eee;
    color: #000;
}

#menu::before {
    content: "#";
}

.navigation {
    list-style: none;
    margin: 0 auto;
    max-width: 760px;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover,
.navigation a:active {
    color: white;
    background-color: black;
}

.show li {
    display: block;
}

#menu.show::before {
    content: "X";
}

nav {
	background-color: black;
	margin: 0 auto;
	max-width: 800px;
}

nav ul {
	list-style-type: none;
}

nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
    color: yellow;
}

/* Main */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Cards */
.cards {
    display: flex;
    flex-direction: column;
}

h1 {
    font-weight: 800;
    font-size: 1.5rem;
}

.head {
    text-align: center;
    padding-bottom: 20px;
    margin: 0 auto;
}

.card-learning-activities,
.card-information {
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;  /* Each card takes full width */
}

li {
    font-family: "Poppins", sans-serif;
}

.cards h2 {
    color: #fff; /* Text color */
    background-color: #3B6E98; /* Background color */
    padding: 10px; /* Padding */
    text-align: center; /* Center alignment */
    margin-bottom: 10px; /* Bottom margin */
}

/* Card Information */
.card-information p {
    text-align: center;
    padding: 4px;
    font-family: "Poppins", sans-serif;
}

/* Footer */
footer {
    background-color: #3B6E98;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 60px;
	border: 1px solid rgba(0, 0, 0, 0.1);
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 25px;
    flex-direction: column; 
    color: white;
}

footer p {
    margin-top: 5px;
    color: #eee;
}
