@media (min-width: 640px) {
    nav ul {
        display: flex;
    }
    nav ul li {
        flex: 1 1 auto;  /* Adjust to 'auto' for equal distribution */
    }

    .cards {
        flex-direction: row;  /* Align cards horizontally */
    }

    .card-learning-activities, .card-information {
        flex: 1 1 50%;  /* Each card takes half of the container width */
    }
}

@media (min-width: 40em){
    .navigation {
        display: flex;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
    .navigation a {
        text-align: center;
    }
    #menu {
        display: none;
    }
}